@model CheckoutModel
@{
    ViewData["Title"] = "Megrendelés";
}

    <div class="checkout-form">
        <!-- container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <form action="#">
                        <h3>Számlázási adatok</h3>
                        <div class="row">
                            <div class="col-md-12 mb-30">
                                <label for="c_country">Country <span class="required">*</span></label>
                                <select id="c_country">
                                    <option value="1">Select a country</option>
                                    <option value="2">bangladesh</option>
                                    <option value="3">Algeria</option>
                                    <option value="4">Afghanistan</option>
                                    <option value="5">Ghana</option>
                                    <option value="6">Albania</option>
                                    <option value="7">Bahrain</option>
                                    <option value="8">Colombia</option>
                                    <option value="9">Dominican Republic</option>
                                </select>
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="b_f_name">First Name <span>*</span></label>
                                <input id="b_f_name" type="text">
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="b_name">Last Name  <span>*</span></label>
                                <input id="b_name" type="text">
                            </div>
                            <div class="col-md-12 mb-30">
                                <label for="b_c_name">Company Name</label>
                                <input id="b_c_name" type="text">
                            </div>
                            <div class="col-md-12 mb-30">
                                <label>Address <span>*</span></label>
                                <input placeholder="Street address" type="text">
                            </div>
                            <div class="col-md-12 mb-30">
                                <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                            </div>
                            <div class="col-md-12 mb-30">
                                <label for="b_city">Town / City <span>*</span></label>
                                <input id="b_city" placeholder="Town / City" type="text">
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="f_name">State / County  <span>*</span></label>
                                <input id="f_name" type="text">
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="b_zip">Postcode / Zip <span>*</span></label>
                                <input placeholder="Postcode / Zip" id="b_zip" type="text">
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label for="b_email">Email Address <span>*</span></label>
                                <input id="b_email" type="text">
                            </div>
                            <div class="col-lg-6 mb-30">
                                <label>Phone   <span>*</span></label>
                                <input placeholder="Phone Number" type="text">
                            </div>
                            <div class="col-md-12 mb-20">
                                <div data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                    <input id="b_c_account" type="checkbox" data-target="createp_account">
                                    <label class="righ_1" for="b_c_account">Create an account?</label>
                                </div>

                                <div id="collapseOne" class="collapse" data-parent="#accordion">
                                    <div class="card-body1">
                                        <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                        <label for="b_a_password">Account password   <span>*</span></label>
                                        <input id="b_a_password" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-20">
                                <div data-toggle="collapse" data-target="#collapsetwo" aria-controls="collapseOne">
                                    <input id="b__m__0account" type="checkbox" data-target="createp_account">
                                    <label class="righ_1" for="b__m__0account">Ship to a different address?</label>
                                </div>

                                <div id="collapsetwo" class="collapse" data-parent="#accordion">
                                    <div class="row">
                                        <div class="col-md-12 mb-30">
                                            <label for="b_country">Country <span class="required">*</span></label>
                                            <select id="b_country">
                                                <option value="1">Select a country</option>
                                                <option value="2">bangladesh</option>
                                                <option value="3">Algeria</option>
                                                <option value="4">Afghanistan</option>
                                                <option value="5">Ghana</option>
                                                <option value="6">Albania</option>
                                                <option value="7">Bahrain</option>
                                                <option value="8">Colombia</option>
                                                <option value="9">Dominican Republic</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label for="n_f_name">First Name <span>*</span></label>
                                            <input id="n_f_name" type="text">
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label for="b__name">Last Name  <span>*</span></label>
                                            <input id="b__name" type="text">
                                        </div>
                                        <div class="col-md-12 mb-30">
                                            <label for="c_n_name">Company Name</label>
                                            <input id="c_n_name" type="text">
                                        </div>
                                        <div class="col-md-12 mb-30">
                                            <label>Address <span>*</span></label>
                                            <input placeholder="Street address" type="text">
                                        </div>
                                        <div class="col-md-12 mb-30">
                                            <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                        </div>
                                        <div class="col-md-12 mb-30">
                                            <label for="b_t_city">Town / City <span>*</span></label>
                                            <input id="b_t_city" placeholder="Town / City" type="text">
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label for="s_f_name">State / County  <span>*</span></label>
                                            <input id="s_f_name" type="text">
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label for="b_p_zip">Postcode / Zip <span>*</span></label>
                                            <input placeholder="Postcode / Zip" id="b_p_zip" type="text">
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label for="b_n_email">Email Address <span>*</span></label>
                                            <input id="b_n_email" type="text">
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label>Phone   <span>*</span></label>
                                            <input placeholder="Phone Number" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="order-notes">
                                    <label for="order_note">Order Notes</label>
                                    <textarea id="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon-form-two mb-30">
                        <h3>coupon code</h3>
                        <p>Enter your coupon code if you have one</p>
                        <form action="#">
                            <input placeholder="Coupon code" type="text">
                            <input value="Apply" type="submit" class="btn-primary">
                        </form>
                    </div>
                    <div class="order-wrapper">
                        <h3>Your order</h3>
                        <div class="order-table table-responsive mb-30">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Termék</th>
                                        <th class="product-name">Megnevezés</th>
                                        <th class="product-price">Ár</th>
                                        <th class="product-quantity">Darabszám</th>
                                        <th class="product-subtotal">Össszesítve</th>
                                        <th class="product-remove">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @await Html.PartialAsync("_CartItems", Model.BuyerCart.CartItems);
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Kosár értéke</th>
                                        <td>@Model.BuyerCart.Total() ,-Ft</td>
                                    </tr>
                                    <tr>
                                        <th>Rendelés teljes összege</th>
                                        <td><strong>@Model.BuyerCart.Total() ,-Ft</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        @await Html.PartialAsync("_PaymentMethods", Model);

                    </div>
                </div>
            </div>

            <div class="order-button">
                <a class="btn-primary">Fizetés</a>
            </div>

            <!-- Row -->
        </div>
        <!-- /container -->
    </div>