@{
    ViewData["Title"] = "Nem található tartalom";
}

<!-- =====================================
====Start page-404  -->
<div class="page-404">
    <!-- container -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="content-404">
                    <h1 class="title_404">Hoppá!</h1>
                    <div class="error-description pt-40 pb-40">
                        Elvesztél a weblapon? Ne aggódj kattints ide és pergesd tovább termékeinket.
                    </div>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-default back-home">Kezdőlap</a>
                </div>
            </div>
            <div class="col-lg-7">
                <img src="https://via.placeholder.com/545x660/" alt="">
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- =====================================
==== End page-404 -->