@{
    ViewData["Title"] = "bejelentkezés szükséges";
}

<div class="site-wrapper">

    <div class="main-content">
        <!-- =====================================
    ====Start page-redirect to account  -->
        <div class="container">
            <div>
            </div>
        </div>
        <!-- =====================================
    ==== End page- redirect to account -->
    </div>
</div>