
@{
    ViewData["Title"] = "About";
}

<div class="main-content">
    <!-- =====================================
        ==== Start page-about -->
    <div class="page-about">
        <!-- section-image -->
        <div class="section-counter clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <h2 class="heading__title">
                            Welcome To<br /> Punibor – Explore Us Today!
                        </h2>
                        <div class="heading__description pt-40 pb-60">
                            Digitizing trends and disruptive technologies are giving companies the ability to radically change business models, and create new products and services.
                        </div>

                        <div class="row">
                            <div class="col-md-6 counter_box">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                                <div class="counter_number">
                                    <span class="counter">260</span><span>+</span>
                                    <h5 class="counter_title">Successfully completed cases</h5>
                                </div>
                            </div>
                            <div class="col-md-6 counter_box">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <div class="counter_number">
                                    <span class="counter">750</span><span>+</span>
                                    <h5 class="counter_title">Highly specialised sconsultants</h5>
                                </div>
                            </div>
                            <div class="col-md-6 counter_box">
                                <i class="fa fa-fire" aria-hidden="true"></i>
                                <div class="counter_number">
                                    <span class="counter">100</span><span>%</span>
                                    <h5 class="counter_title">Satisfaction of our customers</h5>
                                </div>
                            </div>
                            <div class="col-md-6 counter_box">
                                <i class="fa fa-map-signs" aria-hidden="true"></i>
                                <div class="counter_number">
                                    <span class="counter">132</span>
                                    <h5 class="counter_title">Countries where we have clients.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 d-none d-lg-block">
                        <img src="https://via.placeholder.com/550x770" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--/section-image -->
        <!-- section-about-info -->
        <div class="section-about-info section-bg" style="background-image:url(https://via.placeholder.com/1230x580)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-4 col-md-12">
                    </div>
                    <div class="col-xl-6 col-lg-8 col-md-12">
                        <h2 class="heading__title">
                            Powerful integrity of pixel-perfect design and inspiring ideas that will blow up your mind
                        </h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about_info">
                                    <h4 class="about_info__heading">Strategy & Planning</h4>
                                    <div class="about_info__description">A business strategy is the means by which it sets out to achieve its desired ends.</div>
                                    <a href="#">More info</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_info">
                                    <h4 class="about_info__heading">Finance & Restructuring</h4>
                                    <div class="about_info__description">Restructuring your company could restore its viability and improve its liquidity position.</div>
                                    <a href="#">More info</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_info">
                                    <h4 class="about_info__heading">Audit & Evaluation</h4>
                                    <div class="about_info__description">If you have been selected for a business audit, here is what you need to know.</div>
                                    <a href="#">More info</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_info">
                                    <h4 class="about_info__heading">Taxes & Efficiency</h4>
                                    <div class="about_info__description">A business strategy is the means by which it sets out to achieve its desired ends.</div>
                                    <a href="#">More info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /section-about-info-->
        <!-- section-team -->
        <div class="section-team clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4">
                        <div class="team-v1 pbr-our-team">
                            <div class="team-image">
                                <img src="https://via.placeholder.com/170x170" alt="">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <div class="team-body">
                                <div class="team-body-content">
                                    <h3 class="team-name">Thomas Snow</h3>
                                    <p class="job">Ceo Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4">
                        <div class="team-v1 pbr-our-team">
                            <div class="team-image">
                                <img src="https://via.placeholder.com/170x170" alt="">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <div class="team-body">
                                <div class="team-body-content">
                                    <h3 class="team-name">Anna Baranov</h3>
                                    <p class="job">Anna Baranov</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4">
                        <div class="team-v1 pbr-our-team">
                            <div class="team-image">
                                <img src="https://via.placeholder.com/170x170" alt="">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <div class="team-body">
                                <div class="team-body-content">
                                    <h3 class="team-name">Andrei Kowalsy</h3>
                                    <p class="job">Support Boss</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4">
                        <div class="team-v1 pbr-our-team">
                            <div class="team-image">
                                <img src="https://via.placeholder.com/170x170" alt="">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <div class="team-body">
                                <div class="team-body-content">
                                    <h3 class="team-name">Pamela Doe</h3>
                                    <p class="job">Delivery Driver</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4">
                        <div class="team-v1 pbr-our-team">
                            <div class="team-image">
                                <img src="https://via.placeholder.com/170x170" alt="">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <div class="team-body">
                                <div class="team-body-content">
                                    <h3 class="team-name">Susan McCain</h3>
                                    <p class="job">Packaking Girl</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4">
                        <div class="team-v1 pbr-our-team">
                            <div class="team-image">
                                <img src="https://via.placeholder.com/170x170" alt="">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <div class="team-body">
                                <div class="team-body-content">
                                    <h3 class="team-name">See Details</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /section-experience -->
    </div>

    <!-- End page-about ====
        ======================================= -->
</div>

