@{
    ViewData["Title"] = "Contact";
}

<div class="main-content">
    <!-- Start contact ====
        ======================================= -->
    <div class="page-contact">
        <!-- container -->
        <div class="container">

            <div class="contact-content">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.30601359607!2d-74.25987105452268!3d40.69714940585523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1527841460700" allowfullscreen>
                    </iframe>
                </div>
                <div class="contact_info">
                    <div class="contact-item">
                        <h3 class="contact_heading">
                            Contact info
                        </h3>
                        <div class="contact_description">
                            We have worked hard to make this great theme which <br /> has infinite possibilities, which mean infinite layout combinations
                        </div>
                        <div class="contact__language">
                            <img src="~/images/contact/contact_icon1.jpg" alt="">
                            <div class="contact_info__language">
                                <div class="text-uppercase"><i class="fa fa-pencil-square" aria-hidden="true"></i>790 Olson Valley Jordynville, ON H3P 3K0</div>
                                <div><i class="fa fa-phone-square" aria-hidden="true"></i>379-854-4489     (159) 362-1199</div>
                                <div class="text-uppercase"><i class="fa fa-envelope-square" aria-hidden="true"></i>contact.powerworking@gmail.com</div>
                            </div>
                        </div>
                        <div class="contact__language">
                            <img src="~/images/contact/contact_icon2.jpg" alt="">
                            <div class="contact_info__language">
                                <div class="text-uppercase"><i class="fa fa-pencil-square" aria-hidden="true"></i>790 Olson Valley Jordynville, ON H3P 3K0</div>
                                <div><i class="fa fa-phone-square" aria-hidden="true"></i>379-854-4489     (159) 362-1199</div>
                                <div class="text-uppercase"><i class="fa fa-envelope-square" aria-hidden="true"></i>contact.powerworking@gmail.com</div>
                            </div>
                        </div>
                        <div class="contact__language">
                            <img src="~/images/contact/contact_icon3.jpg" alt="">
                            <div class="contact_info__language">
                                <div class="text-uppercase"><i class="fa fa-pencil-square" aria-hidden="true"></i>790 Olson Valley Jordynville, ON H3P 3K0</div>
                                <div><i class="fa fa-phone-square" aria-hidden="true"></i>379-854-4489     (159) 362-1199</div>
                                <div class="text-uppercase"><i class="fa fa-envelope-square" aria-hidden="true"></i>contact.powerworking@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact_form">
                <h3 class="contact_heading text-center pt-50 pb-30">
                    Get in touch
                </h3>

                <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input type="text" name="author" class="form-control" placeholder="Name" id="author" value="" aria-required="true">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" name="email" class="form-control" placeholder="Email" id="email" value="" aria-required="true">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" name="phone" class="form-control" placeholder="Subject" id="phone" value="" aria-required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea rows="8" id="comment" class="form-control" placeholder="Message" name="comment" aria-required="true"></textarea>
                    </div>
                    <div class="form-submit text-center">
                        <input name="submit" type="submit" id="submit" class="btn btn-primary" value="Send">
                        <input type="hidden" name="comment_post_ID" value="" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="">
                    </div>
                </form>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- End contact ====
        ======================================= -->
</div>