@{
    ViewData["Title"] = "faq";
}

<div class="main-content">
    <!-- =====================================
        ==== Start FAQ -->
    <div class="page-faq">
        <section class="faq-accordion">
            <!-- container -->
            <div class="container">
                <div class="faq-content">
                    <h2 class="faq__title">Regular & extended licenses</h2>
                </div>

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingZero">
                            <h5 class="m-0">
                                <button class="btn" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                                    If you had to eat just one thing for the rest of your life, what would you choose?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
                            <div class="card-body">
                                <ul>
                                    <li>Blazeon Scrambles to Police Content Amid Rapid Growth</li>
                                    <li>Patturb and Waymo Duel at Key Hearing Over Driverless Car Technology</li>
                                    <li>Patturb and Waymo Duel at Key Hearing Over Driverless Car Technology</li>
                                    <li>Tesla, Reporting Bigger Loss, Emphasizes Gains in Production and Sales</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="m-0">
                                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    How many pairs of shoes do you own?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Which do you like better, cardio or weightlifting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What is the scarest animal you've seen in the wild?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Which do you like better, ninjas or pirates?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    If you had to swap lives with someone famous, who would you choose?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faq-accordion skin2">
            <!-- container -->
            <div class="container">
                <div class="faq-content">
                    <h2 class="faq__title">General questions</h2>
                </div>
                <div id="accordion1" class="accordion_skin2">
                    <div class="card">
                        <div class="card-header" id="headingOne1">
                            <h5 class="m-0">
                                <button class="btn" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                    How many pairs of shoes do you own?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordion1">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo1">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                    Which do you like better, cardio or weightlifting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion1">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree1">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                    What is the scarest animal you've seen in the wild?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordion1">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour1">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                                    Which do you like better, ninjas or pirates?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour1" class="collapse" aria-labelledby="headingFour1" data-parent="#accordion1">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive1">
                            <h5 class="m-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
                                    If you had to swap lives with someOne1 famous, who would you choose?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive1" class="collapse" aria-labelledby="headingFive1" data-parent="#accordion1">
                            <div class="card-body">
                                You can outsource any back office or non-core business function, as we provide a wide array of services, some of which are: Call Center Services, Data Entry Services, Software Development Services, Mortgage Services
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- =====================================
        ==== End FAQ -->
</div>