
@model Review

<div class="review-ratting">
    <div class="star-author-all">
        <div class="ratting-author">
            <h3 class="ratting__name">Jane Watson</h3>
            <span>12:24</span>
            <span>9 March 2018</span>
        </div>
        <div class="star-rating">
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span>(5)</span>
        </div>
    </div>

    <div class="reviews_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</div>
</div>
