<div class="header-menu  header-desktop">
    <div class="container">
        <div class="row">
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-md-10 header-menu-main">
                <div class="site-header d-flex justify-content-between align-items-center">
                    <div class="site-header__search">
                        <form method="get" class="searchform" action="#">
                            <div class="wiget-search input-group">
                                <input name="s" maxlength="40" class="form-control input-search" type="text" size="20" placeholder="Search entire store here...">
                                <span class="input-group-addon input-large btn-search">
                                    <span class="fa fa-search"></span>
                                    <input type="submit" class="fa" value="">
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- cart -->
                    <div class="site-header__icon  d-flex justify-content-between align-items-center">
                        <div class="features_icon">
                            <div class="features_icon__images">
                                <img src="~/images/icon_1.png" alt="">
                            </div>
                            <div class="features_icon__description">
                                <h4>CUSTOMER SUPPORT</h4>
                                <div>
                                    1800-888-99-5555
                                </div>
                            </div>
                        </div>
                        <div class="features_icon">
                            <div class="features_icon__images">
                                <img src="~/images/icon_2.png" alt="">
                            </div>
                            <div class="features_icon__description">
                                <h4>CONTACT US</h4>
                                <div>
                                    info@example.com
                                </div>
                            </div>
                        </div>
                        <div class="site-header__cart">
                            <a asp-controller="Cart" asp-action="Index">
                                <div class="features_icon">
                                    <div class="features_icon__images">
                                        <img src="~/images/icon_3.png" alt="">
                                    </div>
                                    <div class="features_icon__description">
                                        <h4>Kosaram</h4>
                                        <div>
                                            Megtekintés
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- menu -->
                <div class="header-main">
                    <div class="row">
                        <div class="header-left col-md-10">
                            <nav id="nav" class="navbar">
                                <!--  Main navigation  -->
                                <ul class="main-nav nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a asp-area="" asp-controller="Product" asp-action="Index">Termékek</a>
                                    </li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kapcsolat</a></li>
                                </ul>
                                <!-- /Main navigation -->
                            </nav>
                        </div>
                        <div class="header-right col-md-2">
                            <ul class="social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>