<div class="single-product">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">

            <div class="col-lg-9 col-md-8 product-info">
                <div class="product-header">
                    <div class="product-header__left">
                        <h1 class="product-title">
                            Adventures Bourne Conspiracy
                        </h1><!-- /.product-title-->
                    </div>
                    <div class="product-header__right">
                        <div class="product-nav">
                            <a href="product_single2.html" class="left psnav">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="product_single2.html" class="right psnav">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="main_image_product">
                            <div class="slider slider-for">
                                <div><img src="https://via.placeholder.com/470x580" alt=""></div>
                                <div><img src="https://via.placeholder.com/470x580/222222/ffffff" alt=""></div>
                                <div><img src="https://via.placeholder.com/470x580" alt=""></div>
                                <div><img src="https://via.placeholder.com/470x580/222222/ffffff" alt=""></div>
                                <div><img src="https://via.placeholder.com/470x580" alt=""></div>
                                <div><img src="https://via.placeholder.com/470x580/222222/ffffff" alt=""></div>
                                <div><img src="https://via.placeholder.com/470x580" alt=""></div>
                            </div>
                            <div class="slider slider-nav">
                                <div><img src="https://via.placeholder.com/70x71" alt=""></div>
                                <div><img src="https://via.placeholder.com/70x71/222222/ffffff" alt=""></div>
                                <div><img src="https://via.placeholder.com/70x71" alt=""></div>
                                <div><img src="https://via.placeholder.com/70x71/222222/ffffff" alt=""></div>
                                <div><img src="https://via.placeholder.com/70x71" alt=""></div>
                                <div><img src="https://via.placeholder.com/70x71/222222/ffffff" alt=""></div>
                                <div><img src="https://via.placeholder.com/70x71" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="product-caption clearfix">
                            <p>New shave duo featuring shave tonic & after shave balm shave tonic:</p>

                            <div class="product-price">
                                <ins>
                                    <span class="amout">$19.99</span>
                                </ins>
                                <del>
                                    <span class="amout">$44.45</span>
                                </del>
                            </div><!-- /.product-price -->

                            <div class="product-rating" data-rating="">
                                <span class="star-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span class="customer_reviews">3 customer reviews</span>
                            </div>
                            <!-- end rating -->
                            <div class="excerpt">
                                <ul>
                                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>FREE Shipping on orders over $49.</li>
                                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>In Stock.</li>
                                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Gift-wrap available.</li>
                                </ul>
                            </div>
                            <div class="info_variant">
                                <span>Checkbox :</span>
                                <ul class="list-checked">
                                    <li class="current"><a href="javascript:void(0)">4 fl. oz.</a></li>
                                    <li><a href="javascript:void(0)">17 fl. oz.</a></li>
                                </ul>
                            </div>

                            <div class="form_cart">
                                <div class="toolbar-sorter">
                                    <span>Filter by :</span>
                                    <select name="orderby" class="orderby">
                                        <option value="menu_order" selected="selected">Dropdown box</option>
                                        <option value="popularity">popularity</option>
                                        <option value="rating">average rating</option>
                                        <option value="date">newness</option>
                                        <option value="price">low to high</option>
                                        <option value="price-desc">high to low</option>
                                    </select>
                                </div>
                                <div class="form_cart__number">
                                    <span>Quantity :</span>
                                    <form action="#" class="add-to-cart" method="post" enctype="multipart/form-data">
                                        <input class="cart-qty-box" type="number" name="qtybutton" value="0">
                                        <input type="hidden" name="id" value="">
                                    </form>
                                </div>
                            </div>

                            <div class="product-footer">
                                <a href="cart.html" class="btn btn-primary add_to_cart_button"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Add to Cart</a>
                                <div class="product-actions">
                                    <a href="#" data-id="" class="btn wishlist product-quick-whistlist" title="Add to whistlist">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a href="#" data-id="" class="btn product-quick-compare btn-compare" title="Compare">
                                        <i class="fa fa-retweet"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product_meta">
                                <div class="posted_in">
                                    <span>Category:</span>
                                    <a href="#" rel="tag">Electronics</a>,
                                    <a href="#" rel="tag">Men's Grooming</a>
                                </div>
                                <div class="tagged_as">
                                    <span>Tags:</span>
                                    <a href="#" rel="tag">Luxury</a>,
                                    <a href="#" rel="tag">Skin Care</a>,
                                    <a href="#" rel="tag">Men's Grooming</a>
                                    <a href="#" rel="tag">Hair Care</a>
                                </div>
                            </div>
                            <div class="product_social-sharing">
                                <div class="social-icons share-row">
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_google_plus"></a>
                                        <a class="a2a_button_google_gmail"></a>
                                        <a class="a2a_button_print"></a>
                                    </div>
                                </div>
                                <script async src="https://static.addtoany.com/menu/page.js"></script>
                            </div>
                        </div><!-- /.product-meta -->
                    </div>
                </div>
                <!-- product-tab-description -->
                <div class="product-description-tabs">
                    <ul class="nav">
                        <li class="active"><a data-toggle="tab" href="#tab_description">Description</a></li>
                        <li><a data-toggle="tab" href="#tab_information">Product Details</a></li>
                        <li><a data-toggle="tab" href="#tab_reviews">Customer Reviews (2)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab_description" class="tab-pane fade show active">
                            For use pre-shaving, soak clean towel with hot water. For post-shaving, use cold water instead. Ring out excess water and spray towel with the product. Apply to face for 30 seconds, avoiding eye area. Do not rinse. Product can also be used without a towel. Spray directly onto face after shaving, avoiding eye area. Do not rinse. After shaving, apply a small amount to the face and neck area, massaging in until completely absorbed.
                            <div class="tab_description_info pt-20">
                                <div class="pb-10">Description</div>
                                <i>
                                    New shave duo featuring shave tonic & after shave balm shave tonic:
                                </i>
                            </div>
                            <div class="tab_description_info pt-20">
                                <div class="pb-10">Benefits</div>
                                <i>
                                    Nourishing post-shave moisturizer for men with aloe and tea tree oil
                                </i>
                            </div>
                            <div class="tab_description_info pt-20">
                                <div class="pb-10">Suggested Use</div>
                                <i>
                                    Helps soothe and protect skin from shaving irritation, dryness and razor burn.
                                </i>
                            </div>
                        </div>
                        <div id="tab_information" class="tab-pane fade">
                            For use pre-shaving, soak clean towel with hot water. For post-shaving, use cold water instead. Ring out excess water and spray towel with the product. Apply to face for 30 seconds, avoiding eye area. Do not rinse. Product can also be used without a towel. Spray directly onto face after shaving, avoiding eye area. Do not rinse. After shaving, apply a small amount to the face and neck area, massaging in until completely absorbed.
                        </div>
                        <div id="tab_reviews" class="tab-pane fade">
                            <div class="rattings-wrapper">
                                <div class="review-ratting">
                                    <div class="star-author-all">
                                        <div class="ratting-author">
                                            <h3 class="ratting__name">Jane Watson</h3>
                                            <span>12:24</span>
                                            <span>9 March 2018</span>
                                        </div>
                                        <div class="star-rating">
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span>(5)</span>
                                        </div>
                                    </div>

                                    <div class="reviews_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</div>
                                </div>
                                <div class="review-ratting">
                                    <div class="star-author-all">
                                        <div class="ratting-author">
                                            <h3 class="ratting__name">Emma Doe</h3>
                                            <span>12:24</span>
                                            <span>9 March 2018</span>
                                        </div>
                                        <div class="star-rating">
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span class="fa fa-star" aria-hidden="true"></span>
                                            <span>(5)</span>
                                        </div>
                                    </div>

                                    <div class="reviews_content clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</div>
                                </div>
                            </div>
                            <form class="form-product-review" action="do_action" method="post">
                                <h5>ADD YOUR REVIEW</h5>
                                <div class="form-group">
                                    <label class="control-label">Your Rating</label>
                                    <p class="star-rating">
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                        <span class="fa fa-star" aria-hidden="true"></span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="comment">Your Review</label>
                                    <textarea id="comment" class="form-control" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="author" class="control-label">
                                            Name
                                            <span class="required">*</span>
                                        </label>
                                        <input id="author" class="form-control" name="author" type="text" value="" size="30" aria-required="true">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email" class="control-label">
                                            Email
                                            <span class="required">*</span>
                                        </label>
                                        <input id="email" class="form-control" name="email" type="text" value="" size="30" aria-required="true">
                                    </div>
                                    <div class="form-submit col-md-12">
                                        <input name="submit" type="submit" id="submit" class="btn btn-primary" value="Send">
                                        <input type="hidden" name="comment_post_ID" value="" id="comment_post_ID">
                                        <input type="hidden" name="comment_parent" id="comment_parent" value="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/product-tab-description -->
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="sidebar">
                    <div class="may_also">
                        <h3 class="may_also__title">You may also like</h3>
                        <p>Extra 12% off on Credit/Debit Card</p>
                    </div>
                    <ul class="product-list-siderbar">
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                        <div class="product-price">
                                            <ins>
                                                <span class="amout">$14.38</span>
                                            </ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inner">
                                <a class="product-thumbnail" href="#">
                                    <img src="https://via.placeholder.com/80x101" alt="">
                                </a>
                                <div class="product-content">
                                    <h3 class="product-title">
                                        <a href="#">After Shave Balm, 4 fl. oz.</a>
                                    </h3>
                                    <div class="star-rating">
                                        <span class="product-rating" data-rating="">
                                            <span class="star-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <ins>
                                            <span class="amout">$14.38</span>
                                        </ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>