<div class="site-header__cart item-dropdown">
    <div class="features_icon">
        <div class="features_icon__images">
            <img src="~/images/icon_3.png" alt="">
        </div>
        <div class="features_icon__description">
            <h4>MY CART <span class="cartcount">3(ITEMS)</span></h4>
            <div>
                <span class="cartcost">$129.58</span>
            </div>
        </div>
    </div>
    <div class="widget_shopping_cart_content  content-dropdown">
        <div class="cart_list ">
            <div class="media widget-product">
                <div class="media-left">
                    <a href="product_single.html" class="image pull-left">
                        <img src="https://via.placeholder.com/80x100" alt="">
                    </a>
                </div>
                <div class="cart-main-content media-body">
                    <h3 class="name">
                        <a href="product_single.html">
                            Sport Standard edition
                        </a>
                    </h3>
                    <p class="cart-item">
                        <span class="quantity">2 × <span class="price-amount amount"><span class="price-currencySymbol">$</span>100.00</span></span>
                    </p>
                    <a href="#" class="remove" title="Remove this item">×</a>
                </div>
            </div>
            <div class="media widget-product">
                <div class="media-left">
                    <a href="product_single.html" class="image pull-left">
                        <img src="https://via.placeholder.com/80x100" alt="">
                    </a>
                </div>
                <div class="cart-main-content media-body">
                    <h3 class="name">
                        <a href="product_single.html">
                            Casual Premium edition
                        </a>
                    </h3>
                    <p class="cart-item">
                        <span class="quantity">1× <span class="price-amount amount"><span class="price-currencySymbol">$</span>50.00</span></span>
                    </p>
                    <a href="#" class="remove" title="Remove this item">×</a>
                </div>
            </div>
            <div class="media widget-product">
                <div class="media-left">
                    <a href="product_single.html" class="image pull-left">
                        <img src="https://via.placeholder.com/80x100" alt="">
                    </a>
                </div>
                <div class="cart-main-content media-body">
                    <h3 class="name">
                        <a href="product_single.html">
                            Gold Limited edition
                        </a>
                    </h3>
                    <p class="cart-item">
                        <span class="quantity">2 × <span class="price-amount amount"><span class="price-currencySymbol">$</span>100.00</span></span>
                    </p>
                    <a href="#" class="remove" title="Remove this item">×</a>
                </div>
            </div>
        </div>
        <p class="total">
            <strong>Subtotal:</strong>
            <span class="price-amount amount">
                <span class="price-currencySymbol">$</span>450.00
            </span>
        </p>
        <p class="buttons clearfix">
            <a href="cart.html" class="btn view-cart btn-default btn-normal pull-right">View Cart</a>
            <a href="checkout.html" class="btn check-out btn-primary btn-normal pull-left">Checkout</a>
        </p>
    </div>
</div>