<footer class="site-footer clearfix">
    <!-- =====================================
    ==== Start contactform  -->
    <div class="newsletter_form clearfix">
        <div class="container">
            <div class=" row newsletter">
                <div class="col-lg-7 col-md-12">
                    <div class="newsletter_content">
                        <h3 class="newsletter__heading m-0">Hírlevelünk</h3>
                        <p class="newsletter-description m-0">Iratkozz fel most és szerezz tudomást a legújabb és legjobb játékról, amiket már pergetnéd ezerrel! Vagy akár a számos remek akcióinkról!</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal">
                        <div class="newsletter-form">
                            <input type="email" value="" placeholder="E-mail address" name="EMAIL" id="mail" class="form-control" aria-label="email@example.com">
                            <input type="submit" class="btn btn-primary" name="subscribe" id="subscribe" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- =====================================
    ==== End contactform  -->

    <div class="site-footer__main">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-block">
                    <aside class="widget-text">
                        <div class="footer__logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/logo.png" alt="cég logo">
                            </a>
                        </div>
                        <div class="footer__info">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sopron-Görbehalom Telep 2 4.a (Nem értékesítési cím)</p>
                            <p>
                                <span><i class="fa fa-mobile" aria-hidden="true"></i>+36 30 913 6248</span>
                                <span><i class="fa fa-phone" aria-hidden="true"></i>06 99 354-016</span>
                            </p>
                            <p>
                                <span><i class="fa fa-envelope"></i><a href="mailto:info@example.com">info@ezgame.com</a></span>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="col-md-4 footer-block">
                    <aside class="widget-menu-item">
                        <h3 class="widget-title">Hasznos linkek</h3>
                        <ul class="columns-2">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Rólunk</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kapcsolat</a></li>
                            <li><a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="FAQ">GYIK (Gyakori kérdések)</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="ShippingPolicy">Kiszállítás menete</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="ReturnsPolicy">Visszatérítés feltételei</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="TermsOfUse">Általános szerződési feltételek</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Adataid kezelése</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="CookieUse">Sütik kezelése</a></li>
                        </ul>
                    </aside>
                </div>

                <div class="col-md-3 footer-block ">
                    <aside class="widget_recentpost">
                        <h3 class="widget-title">Popular News</h3>
                        <ul>
                            <li>
                                <span class="post_categories"><a href="#" rel="tag">Xtox One</a></span>
                                <h3 class="post-title"><a href="blog_single.html">Arrowhead Debuts New Signature Concession Items</a></h3>
                                <span class="post-date">May 28, 2018</span>
                            </li>
                            <li>
                                <span class="post_categories"><a href="#" rel="tag">Xtox One</a></span>
                                <h3 class="post-title"><a href="blog_single.html">Arrowhead Debuts New Signature Concession Items</a></h3>
                                <span class="post-date">May 28, 2018</span>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12  d-flex justify-content-between align-items-center">
                    <div class="copyright">
                        Minden jogot az oldallal és annak tartalmával kapcsolatban fent tart a <a href="https://www.kwsoft.dev">KriszW Software Bt.</a> Copyright © @DateTime.Now.Year <a asp-area="" asp-controller="Home" asp-action="Index">Ez Game Market.</a>.
                    </div>
                    <div class="payment">
                        <img src="~/images/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>